/*********************************************/
/* BEGIN "views/global-style/variables.less" */
/* END   "views/global-style/variables.less" */
/*********************************************/
/********************************************/
/* BEGIN "views/layouts/default/style.less" */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
/* END   "views/layouts/default/style.less" */
/********************************************/
/*****************************************/
/* BEGIN "views/global-style/style.less" */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
form,
img {
  margin: 0;
  padding: 0;
}
img {
  border-width: 0;
}
textarea,
input {
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select {
  margin: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
td {
  padding: 0;
  margin: 0;
  border-width: 0;
}
pre {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0.2em;
}
h1 {
  font-size: 1.5em;
  color: #123851;
}
h1 a {
  color: #123851;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.0em;
}
label {
  display: block;
  font-size: 0.9em;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}
button {
  padding: 0;
  cursor: pointer;
  line-height: normal;
  border: 0;
}
a {
  color: #2980b9;
  text-decoration: none;
}
input[type=text] {
  border: 1px solid #c0c0c0;
}
/* END   "views/global-style/style.less" */
/*****************************************/
/*******************************************/
/* BEGIN "views/components/app/style.less" */
.render-target {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* END   "views/components/app/style.less" */
/*******************************************/
/**************************************************/
/* BEGIN "views/components/app-button/style.less" */
.app-button {
  display: inline-block;
  border-radius: 8px;
  padding: 12px;
  background-color: #2980b9;
  color: #fff;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.app-button:hover {
  background-color: #409ad5;
}
/* Variants */
.app-button-secondary {
  background-color: #999999;
  color: #fff;
}
.app-button-secondary:hover {
  background-color: #b3b3b3;
}
/* Sizes */
.app-button-small {
  font-size: 0.9em;
  padding-top: 6px;
  padding-bottom: 6px;
}
.app-button-large {
  font-size: 1.2em;
  font-weight: 100;
}
/* END   "views/components/app-button/style.less" */
/**************************************************/
/****************************************************/
/* BEGIN "views/components/app-checkbox/style.less" */
.app-button.app-checkbox {
  background-color: #999999;
  color: #fff;
}
.app-button.app-checkbox.checked {
  background-color: #2980b9;
  color: #fff;
}
.app-checkbox-icon {
  background-image: url('app/fullstack-challenge$1.0.0/views/components/app-checkbox/images/unchecked.svg');
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.2;
  margin-right: 4px;
}
.app-checkbox.checked .app-checkbox-icon {
  background-image: url('app/fullstack-challenge$1.0.0/views/components/app-checkbox/images/checked.svg');
  opacity: 1.0;
}
/* END   "views/components/app-checkbox/style.less" */
/****************************************************/
/********************************************************/
/* BEGIN "views/components/app-progress-bar/style.less" */
.app-progress-bar .progress-step {
  display: inline-block;
  height: 2em;
}
.app-progress-bar a.progress-step {
  display: inline-block;
  background-color: #999999;
  color: #fff;
  padding-left: 28px;
  padding-right: 8px;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
}
.app-progress-bar div.progress-step:first-child a.progress-step {
  padding-left: 8px;
}
.app-progress-bar .progress-step.active a.progress-step {
  background-color: #2980b9;
  color: #fff;
}
div.progress-step-end {
  display: inline-block;
  width: 20px;
  height: 2em;
  position: relative;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  margin-right: -20px;
}
svg.progress-step-end {
  display: inline-block;
  width: 100%;
  height: 100%;
}
polygon.progress-step-end {
  fill: #999999;
}
.app-progress-bar .progress-step.active polygon.progress-step-end {
  fill: #2980b9;
}
/* END   "views/components/app-progress-bar/style.less" */
/********************************************************/
/**********************************************************/
/* BEGIN "views/components/app-notifications/index.marko" */
.app-notifications {
  position: fixed;
  top: 0px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}
/* END   "views/components/app-notifications/index.marko" */
/**********************************************************/
/********************************************************/
/* BEGIN "views/components/app-notification/style.less" */
.app-notification {
  opacity: 0;
  transition-property: max-height, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  max-height: 0px;
  margin-top: 8px;
  background-color: #2ecc71;
  color: white;
  width: 100%;
  border: 2px solid #1b7943;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(51, 65, 80, 0.35);
}
/* END   "views/components/app-notification/style.less" */
/********************************************************/
/***************************************************/
/* BEGIN "views/components/app-overlay/style.less" */
.app-overlay > .app-overlay-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  visibility: hidden;
  background-color: #000;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.app-overlay.visible > .app-overlay-mask {
  visibility: visible;
  opacity: 0.8;
  z-index: 999;
}
.app-overlay > .app-overlay-container {
  position: fixed;
  top: -50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  background-color: white;
  opacity: 0;
  transition-property: opacity, top;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  border-radius: 5px;
  overflow: auto;
  z-index: 1000;
}
.app-overlay.visible > .app-overlay-container {
  top: 50%;
  opacity: 1;
}
.app-overlay-body {
  padding: 1em;
}
.app-overlay-footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
  text-align: right;
  padding: 1em;
  padding-top: 2em;
}
.app-overlay > .app-overlay-container .app-overlay > .app-overlay-container {
  height: 100%;
}
.app-overlay > .app-overlay-container .app-overlay > .app-overlay-container .app-overlay-footer {
  position: absolute;
  height: 48px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 0px;
}
/* END   "views/components/app-overlay/style.less" */
/***************************************************/
/************************************************/
/* BEGIN "views/components/app-tabs/style.less" */
.app-tabs ul.tab-nav {
  padding-left: 0;
  list-style: none;
}
.app-tabs ul.tab-nav > li {
  float: left;
}
.app-tabs ul.tab-nav > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #999999;
  margin-left: 10px;
  border-radius: 4px 4px 0 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  display: inline-block;
  margin-bottom: -1px;
  background-color: #999999;
  color: #fff;
}
.app-tabs ul.tab-nav > li:first-child > a {
  margin-left: 0px;
}
.app-tabs .tab.active > a {
  background-color: transparent;
  border-bottom: 1px solid white;
  color: inherit;
}
.app-tabs .tab-panes {
  clear: both;
}
.app-tabs .tab-pane {
  display: none;
  border: 1px solid #999999;
  padding: 1em;
}
.app-tabs .tab-pane.active {
  display: block;
}
/* END   "views/components/app-tabs/style.less" */
/************************************************/
/******************************************************/
/* BEGIN "views/components/app-fetch-data/style.less" */
.app-fetch-data .loading {
  background-image: url('app/fullstack-challenge$1.0.0/views/components/app-fetch-data/loading.svg');
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}
.app-fetch-data .table-container {
  max-height: 400px;
  overflow: auto;
}
/* END   "views/components/app-fetch-data/style.less" */
/******************************************************/
/****************************************************/
/* BEGIN "views/components/app-sections/style.less" */
.tableOfContents {
  position: fixed;
  right: 15px;
  top: 15px;
  background-color: #f7f7f9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 1em;
}
.app-sections .section {
  margin-top: 40px;
}
.app-sections .section > h2 {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 0.5em;
}
/* END   "views/components/app-sections/style.less" */
/****************************************************/










.number-spinner button {
    background: #4285f4;
    color: #ffffff;
    border: 1px solid #1266f1;
    display: inline-block;
    padding: 12px 32px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    outline: 0;
    transition: none;
    margin: 0;
    padding: 0;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}

.number-spinner input {
    background: #fff;
    border: 1px solid #1266f1;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    outline: 0;
    transition: none;
    margin: 0;
    padding: 0;
    padding-left: 13px;
    padding-right: 13px;
}

.number-spinner.positive input {
    background: rgb(86, 239, 165);
}

.number-spinner.negative input {
    background: rgb(235, 182, 176);
}
.state-icon {
        width: 75px;
        height: 50px;
    }

    .state-icon.CA {
        background-image: url('app/fullstack-challenge$1.0.0/views/components/app-state-select/CA.png')
    }

    .state-icon.CO {
        background-image: url('app/fullstack-challenge$1.0.0/views/components/app-state-select/CO.png')
    }

/*!
Pure v0.6.2
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

